<% include ../../../../periodicjs.ext.asyncadmin/views/shared/header %>
<input type="hidden" name="_csrf" value=<%= locals.token %> >
	<div class="ts-container">
		<section class="ts-page-content-container ">
			
			<div class="ts-row">
				<div class="ts-col-span6">
					<!-- < % include ../../shared/html_inject_precontent %> -->
					<h6>Test Email</h6>
					<form class="ts-form async-admin-ajax-forms" id="test-email-form" name="test-email-form" method="post" action="/<%- locals.adminPath %>/mailer/sendmail" data-donotnotify="do-not-notify"
                data-successsubmitfunction="myserverresponse">
						<div class="ts-document">
							<div class="ts-row ts-form-row">
								<div class="ts-col-span12">
									<div class="ts-row ">
										<label class="ts-label">From</label>
										<input class="ts-input ts-text-xs" type="text" placeholder="from@mail.com" value="<%- mail_settings.periodic_config[appenvironment].serverfromemail %>" name="from"/>
									</div>
									<div class="ts-row ">
										<label class="ts-label">To</label>
										<input class="ts-input ts-text-xs" type="text" placeholder="to@mail.com" value="<%- user.email %>" name="to"/>
									</div>
									<div class="ts-row ">
										<label class="ts-label">Subject</label>
										<input class="ts-input ts-text-xs" type="text" placeholder="subject" value="testing email from node server" name="subject"/>
									</div>	
									<div class="ts-row ">
										<div class="ts-col-span4 ts-screensm-col-span12 ts-screenxs-col-span12">
											<label class="ts-label">CC</label>
											<input class="ts-input ts-text-xs" type="text" placeholder="cc@mail.com" value="" name="cc"/>
										</div>
										<div class="ts-col-span4 ts-screensm-col-span12 ts-screenxs-col-span12">
											<label class="ts-label">BCC</label>
											<input class="ts-input ts-text-xs" type="text" placeholder="bcc@mail.com" value="<%- mail_settings.periodic_config[appenvironment].adminbccemail %>" name="bcc"/>
										</div>
										<div class="ts-col-span4 ts-screensm-col-span12 ts-screenxs-col-span12">
											<label class="ts-label">ReplyTo</label>
											<input class="ts-input ts-text-xs" type="text" placeholder="replyto@mail.com" value="" name="replyTo"/>
										</div>
									</div>
								</div>
							
								
								<div class="ts-row ts-form-row ts-border-secondary-text-color">
									<label class="ts-label">Message (HTML Email)</label>
									<textarea id="genericdoc-codemirror" name="html" class="textarea-tall noFormSubmit codemirroreditor htmlEditor ts-col-span12" data-htmlonly="htmlonly" style="height: 3em;"><p><strong>This is an email test</strong></p>
<p>You can use full html</p></textarea>
								</div>
								<div class="ts-row ts-text-center ts-container-forminput no-margin">
									<input type="submit" class="ts-color-success ts-button" value="Send Email" name="send_mail_button"/>
								</div>
							</div>
						</div>
	<input type="hidden" name="_csrf" value=<%= locals.token %> >
					</form>
					<!-- < % include ../../shared/html_inject_postcontent %> -->
				</div>
				<div class="ts-col-span6 ts-pull-right">
					<h6>Mail Settings</h6>
					<div class="ts-form">
						<textarea disabled="disabled" readonly="readonly" id="email-settings-codemirror" name="email-settingsjson" class="textarea-tall noFormSubmit codemirroreditor jsonEditor ts-col-span12" style="height: 60em;"><%- JSON.stringify(mail_settings,null,2) %></textarea>
					</div>
				</div>
			</div>
		</section>
	</div>
	<style>
	.CodeMirror{
		height:auto;
		min-height: 30em;
	}
	</style>
<script type="text/javascript">
    window.myserverresponse = function(ajaxresponsedata){
        window.showDefaultDataResponseModal(ajaxresponsedata.body.data);
    }
</script>
<% include  ../../../../periodicjs.ext.asyncadmin/views/shared/footer %>